<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>さいころ</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>さいころ</h1>

<form method="get" action="/">
    <input type="submit" name="dice" value="振る">
</form>

<div>
    <div class="dice">
    {% if dice %}
        <img src="/static/images/dice_{{dice}}.png" alt="さいころ{{ dice }}">
        {% else %}
    <img src="/static/images/question.png" alt="はてな">
    {% endif %}
    </div>
</div>

<footer>Copyright 2018 PyQ</footer>
</body>
</html>
